page-home {

    ion-grid {
        min-height: 100%;
    }

    ion-footer {
        padding-bottom: 7.5px;
    }

    ion-title{
        padding-right: 15px !important;
        padding-left: 15px !important;
        font-size: 4px !important;
    }

    .toolbar-title {
        font-size: 16px !important;
    }

    .body-morning {
        background: radial-gradient(ellipse at center, #5ec2e0 0%,#2aabd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .body-night {
        background: radial-gradient(ellipse at center, #362d65 0%,#2c2452 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    
    .center-img {
        display: block;
        margin-left: auto;
        margin-right: 0px;
    }

    .temperature {
        color: white;
        font-size: 64px;
        font-weight: 1600;
        font-family: 'Schoolbell', cursive;
        padding-top: 10%;
    }

    .message {
        color: white;
        font-size: 40px;
        font-weight: 800;
        font-family: 'Schoolbell', cursive;
    }

    .footer {
        color: white;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Schoolbell', cursive;
    }

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

}
